{% extends "template.j2" %}
{% import "macros.j2" as macros %}

{% block sub_navigation %}

    <div class='theme--neutral'>

        <div class='[ wrapper ]  mb-xxxxl'>

            <div class='[ layout section ] theme--white '>

                <div class='[ grid grid--center ]'>

                    <div class='[ col ]'>

                        <h1>
                            Pages
                        </h1>

                        <p class='intro'>
                            This is a place you can mock up different templates 
                        </p>
                        
                        <a href="/pages/two/" class="mt-xl btn btn--soft {% if slug == 'test-site' %} btn--primary {% else %} btn--tertiary {% endif %}" >
                                Test site
                        </a>
                        <a href="/pages/" class="btn btn--soft {% if slug == 'redcross' %} btn--primary {% else %} btn--tertiary {% endif %}" >
                                Redcross
                        </a>
                        <a href="/pages/nzonair/" class="btn btn--soft {% if slug == 'nz-on-air' %} btn--primary {% else %} btn--tertiary {% endif %}" >
                                NZ On Air 
                        </a>
                        <a href="/pages/springload/" class="btn btn--soft {% if slug == 'springload' %} btn--primary  {% else %} btn--tertiary{% endif %}" >
                                Springload 
                        </a>
                        <a href="/pages/kiwibank/" class="btn  btn--soft {% if slug == 'kiwibank' %} btn--primary {% else %} btn--tertiary {% endif %}" >
                                Kiwibank 
                        </a>
                        <a href="/pages/ringly/" class="btn btn--soft {% if slug == 'ringly' %} btn--primary {% else %} btn--tertiary {% endif %}" >
                                Ringly 
                        </a>
                        <a href="/pages/cats/" class="btn btn--soft {% if slug == 'cats' %} btn--primary {% else %} btn--tertiary {% endif %}">
                                Cats 
                        </a>
                        <a href="/pages/forbar/" class="btn btn--soft {% if slug == 'forbar' %} btn--primary {% else %} btn--tertiary {% endif %}">
                                Forbar 
                        </a>
                        
                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock  %}

{% block content %}

    <div class='device' >

        <div class='theme--grey'>

          

            <div class='[ pl-m pr-m ] '>

                <div class='[ grid ]' >

                    <div class='[ col ] '>

                        <p class='split u-append u-append--q-small u-append--q-medium device__menu' data-u-append="computer" data-u-append-medium="tablet" data-u-append-small="iphone" >

                            &#63743; Fred's awesome
                            <span class='split__u-right u-uppercase'>
                                12:00am
                            </span>

                        </p>

                    </div>

                </div>

            </div>

        </div>

        {% block page_site_wrapper %}

            {% block page_navigation %}
            {% endblock %}


            {% block page_sub_navigation %}
            {% endblock %}


            {% block page_content %}
                 
                 {% for item in data %}
                    {{ item|component }}
                {% endfor %}

            {% endblock %}


            {% block page_footer %}
            {% endblock %}


        {% endblock %}
        
    </div>
   
{% endblock %}
{% block anchor %}
{% endblock %}