{% extends "template.j2" %}
{% set body_class =  'homepage' %}



{% block content %}


<div class=''>
  <div class="[ wrapper ]">

    <div class="[ layout section ]">

      <div class="[ grid grid--center ]">
              
        <div class='[ col large-8 ] '>
                  
          <h1>
            Meet <span class='text--green'>Fred</span>, he is amazing!
          </h1>             
          
          <p class='intro'>
            Fred can bring your wireframes to life fast. Thus giving you more time to revise the designs more often and refine them sooner.
          </p>
        </div>

      </div>

    </div>

  </div>
</div>
<div class='theme--white'>

  <div class="[ wrapper ]">

      <div class="[ layout section ]">

        <div class="[ grid ]">
                
          <div class='[ col large-8 ] '>
                    
            <h3>
              Why use Fred
            </h3>             
            <ul>
           
              <li>
                Fred can quickly prototype ideas and test them with colleagues and clients without committing time, resources and budget.
              </li>

              <li>
                Fred can bring potential problems with responsive design to light sooner.
              </li>
            
              <li>
                Fred encourages a much more modular approach to design and development, the idea being that any pattern could be used anywhere on a template.
              </li>

              <li>
                Fred is a library of common design patterns. The primary benefit of using design patterns is that we are not constantly re-inventing the wheel when coming up with the general functionality of a site.
              </li>
              
            </ul>

          </div>

        </div>

      </div>

    </div>

</div>

{% endblock %}


{% block anchor %}
{% endblock %}
