{% extends "template.j2" %}
{% set body_class =  'homepage' %}



{% block content %}


<div class=''>
  <div class="[ wrapper ]">

    <div class="[ layout section ]">

      <div class="[ grid grid--center ]">
              
        <div class='[ col large-8 ] '>
                  
          <h1>
            Meet <span class='text--green'>Fred</span>, he is amazing!
          </h1>             
          
          <p class='intro'>
            Fred can bring your wireframes to life fast. Thus giving you more time to revise the designs more often and refine them sooner.
          </p>
        </div>

      </div>

    </div>

  </div>
</div>
<div class='theme--white'>

  <div class="[ wrapper ]">

      <div class="[ layout section ]">

        <div class="[ grid ]">
                
          <div class='[ col large-8 ] '>
                    
            <h3>
              Why use Fred
            </h3>             
            <ul>
           
              <li>
                Fred can quickly prototype ideas and test them with colleagues and clients without committing time, resources and budget.
              </li>

              <li>
                Fred can bring potential problems with responsive design to light sooner.
              </li>
            
              <li>
                Fred encourages a much more modular approach to design and development, the idea being that any pattern could be used anywhere on a template.
              </li>

              <li>
                Fred is a library of common design patterns. The primary benefit of using design patterns is that we are not constantly re-inventing the wheel when coming up with the general functionality of a site.
              </li>

            </ul>

          </div>

        </div>

      </div>

    </div>

</div>


<div class='theme--dark'>

  <div class="[ wrapper ]">

      <div class="[ layout section ]">

        <div class="[ grid ]">
                
          <div class='[ col large-8 ] '>
                    
            <h3>
              How Fred works
            </h3> 

            <h4>
              Step 1
            </h4>
            <p>
              Come up with a wireframe that you wish to prototype.
            </p>
            <h4>
              Step 2
            </h4>   
            <p>
              Build the prototype from the library of <a href='/pattern-library/'>components</a>. If you require a new one, get your friendly fed to build one for you.
            </p>
            <h4>
              Step 3
            </h4>            
            <p>
              Tweak the prototype using the handy <a href='helpers/'>helpers</a>.
            </p>
            <h4>
              Step 4
            </h4>
            <p>
              Repeat step 3 until you are happy with your working prototype
            </p>
            <h4>
              Step 5
            </h4>
            <p>
              Marvel at your new protoype and show your friends and family.
            </p>
          </div>

        </div>

      </div>

    </div>

</div>

{% endblock %}


{% block anchor %}
{% endblock %}
