<table class='table{% if item.responsive %} table--responsive {% endif %}'>
    
    {% for th in item.data.thead %}

        {% if loop.first %}
            <thead>
        {% endif %}
        
            <th {% if th.colspan %} colspan='{{th.colspan}}'{% endif %}>
                {{ th.data }}
            </th>

        {% if loop.last %}
            </thead>
        {% endif %}

    {% endfor %}
    
    {% for tr in item.data.tfoot %}

        {% if loop.first %}
            <tfoot>
        {% endif %}
            
            <tr>

            {% for td in tr.data %}

                <td {% if td.colspan %} colspan='{{td.colspan}}'{% endif %}>
                </td>

            {% endfor %}

            </tr>

        {% if loop.last %}
            </tfoot>
        {% endif %}

    {% endfor %}

    {% for tr in item.data.tbody %}

        {% if loop.first %}
            <tbody>
        {% endif %}

        <tr>

        {% for td in tr %}

            {% if td.th %}
                <th{% if td.colspan %} colspan='{{td.colspan}}'{% endif %} data-header='{{ item.data.thead[loop.index-1].data }}'>
                    {{ td.data }}
                </th>
            {% else %}
                <td{% if td.colspan %} colspan='{{td.colspan}}'{% endif %} data-header='{{ item.data.thead[loop.index-1].data }}'>
                    {{ td.data }}
                </td>
            {% endif %}

        {% endfor %}

        </tr>

    {% if loop.last %}
        </tbody>
    {% endif %}

    {% endfor %}
    
</table>