/**
 * Inset panels/cards
 * ---------------------------------------------------------------------------
 */

.card {
    @extend %mb-m;
    @extend %pl-s;
    @extend %pr-s;
    @extend %pt-l;
    @extend %pb-l;
    @extend %pl-s--medium;
    @extend %pr-s--medium;
    border-radius: .25rem;
    border: solid 1px #e2e2e2;
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);

}