// /*------------------------------------*\
//     #GRID STYLES
// \*------------------------------------*/

// .grid {
//     font-size: 0;
//     margin-left: -.5rem;
//     margin-right: -.5rem;
    
//     @include medium {
//         margin-left: -1rem;
//         margin-right: -1rem;
//     }

//     & > * {
//         @extend %inline-block;
//         font-size: medium;
//     }

//     & > .grid {
//         @extend %inline-block;
//         font-size: 0;  
//     }
// }

// .grid--justify {
//     text-align: justify;
//     font-size: 0;

//     & > * {
//         @extend %inline-block;
//         text-align: left;
//         float: none;
//         font-size: medium;
//     }

//     &:after {
//         @extend %inline-block;
//         height: 0;
//         width: 100%;
//         content: '';
//     }
// }


//     // Font-size medium reset the block to the context of body (ie, 16px)
//     %grid__item {
//         @extend %inline-block;
//         vertical-align: top;
//         text-align:left;
//         font-size: medium;
//         text-justify: auto;                 /* [3] */
//     }

//     .grid > *,
//     .grid__item {
//         vertical-align: top;
//     }
    
//     %grid:after,
//     %grid__break {
//         @extend %inline-block; // This extend is found in core 
//         @extend %column-padding;
//         width:100%;
//         height: 0;
//         content: '';
//     }


// // ----------------------------------------------------------------------------
// // grid modififers
// // ----------------------------------------------------------------------------

// .grid--center { text-align:center;}

// .grid--middle {
//     > * { vertical-align: middle; }
// }

// .grid--bottom {
//     > * { vertical-align: bottom; }
// }

// .grid--flip-small {
//     @include small-down {
//         direction: rtl;
//         & > * {
//             direction: ltr;
//         }
//     }
// }

// .grid--float {
//     @extend %clearfix;
//     & > * {
//         @extend %inline-block;
//         float:left;
//     } 
// }

// .grid--table {

//     display: table;
//     table-layout: fixed;
//     width: 100%;
//     .col & {
//         //if the grid is nested reset the width
//         width:auto;
//     }
//     & > * {
//         display: table-cell;
//     }
   
// }

// .grid.large-grid--table,
// .grid.medium-grid--table {
//     margin-left:0;
//     margin-right:0;
// }

// .medium-grid--table {

//     @include medium {
//         display: table;
//         table-layout: fixed;
//         width: 100%;
//         & > * {
//             display: table-cell;
//         }
//     }
// }

// .large-grid--table {
//     @include large {
//         display: table;
//         table-layout: fixed;
//         width: 100%;
//         & > * {
//             display: table-cell;
//         }
//     }
// }
