/**
 * Media blocks
 * ---------------------------------------------------------------------------
 */

.media {
    @include rem(margin-right,$space-xxxl);
    @include rem(margin-bottom,$space-xxl);
    overflow: hidden;
}

.media--squishy {
    img {
        width: 100%;
    }
}

    .media__image {
        float: left;
        @include rem(margin-right,$space-m);

        > img {
            display: block;

        }
    }

    .media__body {
    }