/**
 * Media blocks
 * ---------------------------------------------------------------------------
 */

.media {
    @extend %mr-xxxl;
    @extend %mb-xxl;
    overflow: hidden;
}

.media--squishy {
    img {
        width: 100%;
    }
}

    .media__image {
        float: left;
        @extend %mr-m;

        > img {
            display: block;

        }
    }

    .media__body {
            }