$hr-colour: #F7F8F5;

/*------------------------------------*\
    #TABLES
\*------------------------------------*/

.table {
    border-collapse: collapse;//// Remove most spacing between table cells.
    border-spacing: 0;// Remove most spacing between table cells.
    display: table;
    width: 100%;

    @include rem(margin-bottom,$space-xxl);

    > thead {
        background-color: $hr-colour;
    }
    tr {
        border-bottom: 1px solid $hr-colour;
    }
   
    td, th {
        @include rem(padding-top, $space);
        @include rem(padding-bottom, $space);
        @include rem(padding-left, 0);
        @include rem(padding-right, $space-s);
        text-align: right;
        vertical-align: top;
        &:first-child {
            @include rem(padding-left, $space);
            text-align: left;
        }
        &:last-child {
            @include rem(padding-right, $space);
        }
    }
}


.table--zebra {
    & > thead {
        border-bottom: solid 1px $hr-colour;
    }
    & > tfoot {
        border-top: solid 1px $hr-colour;
    }
    & > tbody > tr:nth-child(odd) {
        td, th {
            background-color: #fafafa;
        }
    }
}

.table--plain {
    border: 0;
    & td,
    & th {
        padding: 0 0 .5em 0;
        border-right: 0;
    }
    & td:first-child,
    & th:first-child {
        padding-left: 0;
    }
}

.table--responsive {
    @include small-down {
        display: block;
        
        .layout--bleed-mobile & th,
        .layout--bleed-mobile & td  {
            @include rem(padding-left,$column-padding);
            @include rem(padding-right,$column-padding);
        }

        thead {
            display: none;
        }

        td, tr, tbody, th {
            display: block;
            margin: 0;
        }

        tr {
            border-bottom: none;
        }

        td {
            border-bottom: 1px solid $hr-colour;
        }

        th {
            background-color: $hr-colour;
        }

        td[data-header]:before {
            content: attr(data-header);
            float: left;
            
            //@include rem(padding-left, $space);
        }
    }
}
