$hr-colour:#EEEEEE;

/*------------------------------------*\
    #TABLES
\*------------------------------------*/

.table {
    border-top:1px solid $hr-colour;
    position:relative;
    & + .table{border-top:none;}
    border-collapse: collapse;//// Remove most spacing between table cells.
    border-spacing: 0;// Remove most spacing between table cells.
    display: table;
    width: 100%;

    //@include rem(margin-bottom,$space-xxl);

    > thead {
        background-color: $hr-colour;
    }
    tr {
        //border-top:1px solid darken($hr-colour, 5%);
        border-bottom:1px solid $hr-colour;
        position:relative;        
    }
    // tbody tr {
    //     overflow: hidden;
    //     td:last-child {
    //         &:after {
    //             content:"";
    //             height:1px; 
    //             width:6rem; 
    //             position:absolute;
    //             bottom:-1px;
    //             background-color:$hr-colour;
    //             display: inline-block;
    //         }
    //     }

    // }
    td, th {
        @include rem(padding-top, $space-s);
        @include rem(padding-bottom, $space-s);
        @include small-down {
            @include rem(padding-top, $space-xs);
            @include rem(padding-bottom, $space-xs);
        }
        @include rem(padding-left, 0);
        @include rem(padding-right, $space-s);
        text-align: right;
        vertical-align: top;
        &:first-child {
            @include rem(padding-left, $space);
            text-align: left;
        }
        &:last-child {
            @include rem(padding-right, $space);
        }
    }

}


.table--zebra {
    & > thead {
        border-bottom: solid 1px $hr-colour;
    }
    & > tfoot {
        border-top: solid 1px $hr-colour;
    }
    & > tbody > tr:nth-child(odd) {
        td, th {
            background-color: #fafafa;
        }
    }
}

.table--plain {
    border: 0;
    & td,
    & th {
        padding: 0 0 .5em 0;
        border-right: 0;
    }
    & td:first-child,
    & th:first-child {
        padding-left: 0;
    }
}

.table--responsive {
    @include small-down {
        display: block;
        
        .layout--bleed-mobile & th,
        .layout--bleed-mobile & td  {
            @include rem(padding-left,$column-padding);
            @include rem(padding-right,$column-padding);
        }

        thead {
            display: none;
        }

        td, tr, tbody, th {
            display: block;
            margin: 0;
        }

        tr {
            border-bottom: none;
        }

        td {
            border-bottom: 1px solid $hr-colour;
        }

        th {
            //background-color: $hr-colour;
            
        }

        td[data-header]:before {
            content: attr(data-header);
            float: left;
            
            //@include rem(padding-left, $space);
        }

    }
}
th .i-caret-down {
     display: none;
 }
 @include small-down {
     .tr {

        position: relative;
     }
     .table td {
        @include rem(padding-top, 0);
        @include rem(padding-bottom, 0);
     }
     td:nth-child(2),
     td:nth-child(5),
     td:nth-child(6) {
         display:none;
         
    }

    td {  max-width:80%; }

    th[data-header] {
        @include rem(margin-top, $space-m);

        border-top:1px solid $hr-colour;
          &:after {
            content: '▾';
            border-left:1px solid $hr-colour;
            //padding-left:1em;
            right:0;
            width:20%;
            padding-left:1rem;
            height:39px;
            bottom:-43px;
            position: absolute;
            display:inline-block;
            //background-color:red;
           
        }
       
    }
    tbody tr:first-child th {
        margin-top:0;
        border-top:none;
    }

    th[data-header].showhide-active {
       
        &:after {
            bottom:-114px;
            height:110px;   
        }
           
    }

    .table--responsive td { border-bottom:none}    
        td:nth-child(2),
        td:nth-child(5),
        td:nth-child(6) {
            &.show {
                 display:block;
            }  
        }

     th {
         cursor: pointer;
         position: relative;
       
         .i-caret-down {
             display: block;
             position:absolute; 
             right:1rem;
             top:50%;

         }
     }
 }