<ol class="breadcrumb {{item.class}}">

    {% for crumb in item.data %}

        <li class='{{crumb.class}}'>

            <a href="{{ crumb.url }}">{{ crumb.title }}</a>

        </li>

    {% endfor %}
    
</ol>
