/**
 * These styles are just related to the fred prototype website so dirty really need to clean this up 
 */

// ----------------------------------------------------------------------------
// Global elements
// ----------------------------------------------------------------------------
//where is this
.pill.active-pill {
    background-color:#37b67f;
    color:#fff!important;
    font-weight:bold;
}

// ----------------------------------------------------------------------------
// PATTERN LIBRARY
// ----------------------------------------------------------------------------
.flego-navigation {
    @extend %pt-l;
    @extend %mb-0;
    @extend %list--inline;
    a {
        @extend %pr-l;
    }
}
    .flego-navigation--active {
        @extend %font-weight-bold;
    }


.flego-components {
    @extend %pt-l;
}


// Code blocks for pattern lib

    
pre {
    @extend %pt-m;
    @extend %pb-m;
    @extend %pl-m;
    @extend %pr-m;
    @extend %font-size-xs;
    @include rem(border-radius, $space-xxs);
    background-color:$dark-grey;
    border: solid 1px $dark-grey; 
    overflow: scroll;
    color: #fff;
    
    &.styleguide--html { 
        color: #9DFFE5; 
    }
}
.code__anchor {
    @extend %pl-m;
    cursor: pointer;
}


//pattern library anchor
.back-to-top-anchor {
    @extend %br-top-xxs ;
    background-color: #37b67f;
    padding: 0 1rem;
    right:2em;
    margin-bottom:0;
}

// ----------------------------------------------------------------------------
// show hide for pattern lib
// ----------------------------------------------------------------------------

.showhide-hidden { display: none !important; }
.showhide-open { display: block !important; }


.showhide-autoheight {
    transition: height 600ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
    overflow: hidden;
}

    .showhide-autoheight > div {
        -webkit-animation: FadeIn 300ms backwards 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
        -moz-animation: FadeIn 300ms backwards 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
        -ms-animation: FadeIn 300ms backwards 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
        -o-animation: FadeIn 300ms backwards 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
        animation: FadeIn 300ms backwards 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
    }


// ----------------------------------------------------------------------------
// Pages - device wrapper
// ----------------------------------------------------------------------------

.device {
    @extend %ml-m;
    @extend %mr-m;
    background-color:#efefef;
    border-color:#555555;
    border-style: solid;
    @include rem('border-left-width', $space-xxxxl);
    @include rem('border-right-width', $space-xxxxl);
    @include rem('border-top-width', $space-xxxxl);
    @include rem('border-bottom-width', $space-xxxxl);
    @extend %mb-xxxxl; 
    @extend %border-box;

    .device__menu {
        @extend %pt-xs;
        @extend %pb-xs;
        @extend %mb-0;
        @extend %text-small;
        border-bottom:1px solid #D6D6D6;

    }

    border-radius: 50px;
    @include media(medium-down) {
        border-radius: 30px;
    }
}