/**
 * These styles are just related to the fred prototype website so dirty really need to clean this up 
 */

// ----------------------------------------------------------------------------
// Global elements
// ----------------------------------------------------------------------------
//where is this
.pill.active-pill {
    background-color:#37b67f;
    color:#fff!important;
    font-weight:bold;
}

// ----------------------------------------------------------------------------
// PATTERN LIBRARY
// ----------------------------------------------------------------------------
.flego-navigation {
    @include rem(padding-top,$space-l);
    margin-bottom:0;
    @extend %list--inline;
    a {
        @include rem(padding-right,$space-l);
    }
}
    .flego-navigation--active {
        font-weight:$font-bold;
    }


.flego-components {
    @include rem(padding-top,$space-l);
}


 
pre, 
code {
    @include rem(padding-top,$space-m);
    @include rem(padding-bottom,$space-m);
    @include rem(padding-left,$space-m);
    @include rem(padding-right,$space-m);
    @include rem(font-size, $font-size-s);
    @include rem(border-radius, $space-xxs);
    white-space: pre-wrap;
    background-color:$dark-grey;
    border: solid 1px $dark-grey; 
    overflow: scroll;
    color: #fff;
    &.styleguide--html { 
        color: #9DFFE5; 
    }
}
.code__anchor {
    @include rem(padding-left,$space-m);
    cursor: pointer;
}


//pattern library anchor
.back-to-top-anchor {
    @extend %br-top-xxs ;
    background-color: #37b67f;
    padding: 0 1rem;
    right:2em;
    margin-bottom:0;
}

// ----------------------------------------------------------------------------
// show hide for pattern lib
// ----------------------------------------------------------------------------


.showhide-autoheight {
    transition: height 600ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
    overflow: hidden;
}

    .showhide-autoheight > div {
        animation: FadeIn 300ms backwards 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
    }


// ----------------------------------------------------------------------------
// Pages - device wrapper
// ----------------------------------------------------------------------------

.device {
    @include rem(margin-left,$space-m);
    @include rem(margin-right,$space-m);
    @include rem(margin-bottom,$space-xxxxl); 
    @include rem('border-left-width', $space-xxxxl);
    @include rem('border-right-width', $space-xxxxl);
    @include rem('border-top-width', $space-xxxxl);
    @include rem('border-bottom-width', $space-xxxxl);
    border-style: solid;
    background-color:#efefef;
    border-color:darken(#293f54, 15%);
    box-sizing:border-box;

    .device__menu {
        @include rem(padding-top,$space-xs);
        @include rem(padding-bottom,$space-xs);
        margin-bottom:0;
        @extend %text-small;
        border-bottom:1px solid #D6D6D6;

    }

    border-radius: 50px;
    @include medium-down() {
        border-radius: 30px;
    }
}