%pt-xxs { padding-top:$space-xxs;}
%pt-xs { padding-top:$space-xs;}
%pt-s { padding-top:$space-s;}
%pt-m { padding-top:$space-m;}
%pt-l { padding-top:$space-l;}
%pt-xl { padding-top:$space-xl;}
%pt-xxl { padding-top:$space-xxl;}
%pt-xxxl { padding-top:$space-xxxl;}
%pt-xxxxl { padding-top:$space-xxxxl;}

%pb-xxs { padding-bottom:$space-xxs;}
%pb-xs { padding-bottom:$space-xs;}
%pb-s { padding-bottom:$space-s;}
%pb-m { padding-bottom:$space-m;}
%pb-l { padding-bottom:$space-l;}
%pb-xl { padding-bottom:$space-xl;}
%pb-xxl { padding-bottom:$space-xxl;}
%pb-xxxl { padding-bottom:$space-xxxl;}
%pb-xxxxl { padding-bottom:$space-xxxxl;}

%pr-xxs { padding-right:$space-xxs;}
%pr-xs { padding-right:$space-xs;}
%pr-s { padding-right:$space-s;}
%pr-m { padding-right:$space-m;}
%pr-l { padding-right:$space-l;}
%pr-xl { padding-right:$space-xl;}
%pr-xxl { padding-right:$space-xxl;}
%pr-xxxl { padding-right:$space-xxxl;}
%pr-xxxxl { padding-right:$space-xxxxl;}

%pl-xxs { padding-left:$space-xxs;}
%pl-xs { padding-left:$space-xs;}
%pl-s { padding-left:$space-s;}
%pl-m { padding-left:$space-m;}
%pl-l { padding-left:$space-l;}
%pl-xl { padding-left:$space-xl;}
%pl-xxl { padding-left:$space-xxl;}
%pl-xxxl { padding-left:$space-xxxl;}
%pl-xxxxl { padding-left:$space-xxxxl;}

.pt-xxs { @extend %pt-xxs;}
.pt-xs { @extend %pt-xs;}
.pt-s { @extend %pt-s;}
.pt-m { @extend %pt-m;}
.pt-l { @extend %pt-l;}
.pt-xl { @extend %pt-xl;}
.pt-xxl { @extend %pt-xxl;}
.pt-xxxl { @extend %pt-xxxl;}
.pt-xxxxl { @extend %pt-xxxxl;}

.pb-xxs { @extend %pb-xxs;}
.pb-xs { @extend %pb-xs;}
.pb-s { @extend %pb-s;}
.pb-m { @extend %pb-m;}
.pb-l { @extend %pb-l;}
.pb-xl { @extend %pb-xl;}
.pb-xxl { @extend %pb-xxl;}
.pb-xxxl { @extend %pb-xxxl;}
.pb-xxxxl { @extend %pb-xxxxl;}

.pl-xxs { @extend %pl-xxs;}
.pl-xs { @extend %pl-xs;}
.pl-s { @extend %pl-s;}
.pl-m { @extend %pl-m;}
.pl-l { @extend %pl-l;}
.pl-xl { @extend %pl-xl;}
.pl-xxl { @extend %pl-xxl;}
.pl-xxxl { @extend %pl-xxxl;}
.pl-xxxxl { @extend %pl-xxxxl;}

.pr-xxs { @extend %pr-xxs;}
.pr-xs { @extend %pr-xs;}
.pr-s { @extend %pr-s;}
.pr-m { @extend %pr-m;}
.pr-l { @extend %pr-l;}
.pr-xl { @extend %pr-xl;}
.pr-xxl { @extend %pr-xxl;}
.pr-xxxl { @extend %pr-xxxl;}
.pr-xxxxl { @extend %pr-xxxxl;}

%remove-padding {  padding:0; }
%remove-margin { margin:0; }

//add in the classes as you need them :)
@include xsmall() {
    .pt-0--xsmall { padding-top:0;}
    .pt-xxs--xsmall { padding-top:$space-xxs;}
    .pt-xs--xsmall { padding-top:$space-xs;}
    .pt-s--xsmall { padding-top:$space-s;}
    .pt-m--xsmall { padding-top:$space-m;}
    .pt-l--xsmall { padding-top:$space-l;}
    .pt-xl--xsmall { padding-top:$space-xl;}
    .pt-xxl--xsmall { padding-top:$space-xxl;}
    .pt-xxxl--xsmall { padding-top:$space-xxxl;}
    .pt-xxxxl--xsmall { padding-top:$space-xxxxl;}

    .pb-0--xsmall { padding-bottom:0;}
    .pb-xxs--xsmall { padding-bottom:$space-xxs;}
    .pb-xs--xsmall { padding-bottom:$space-xs;}
    .pb-s--xsmall { padding-bottom:$space-s;}
    .pb-m--xsmall { padding-bottom:$space-m;}
    .pb-l--xsmall { padding-bottom:$space-l;}
    .pb-xl--xsmall { padding-bottom:$space-xl;}
    .pb-xxl--xsmall { padding-bottom:$space-xxl;}
    .pb-xxxl--xsmall { padding-bottom:$space-xxxl;}
    .pb-xxxxl--xsmall { padding-bottom:$space-xxxxl;}

    .pr-0--xsmall { padding-right:0;}
    .pr-xxs--xsmall { padding-right:$space-xxs;}
    .pr-xs--xsmall { padding-right:$space-xs;}
    .pr-s--xsmall { padding-right:$space-xs;}
    .pr-m--xsmall { padding-right:$space-s;}
    .pr-l--xsmall { padding-right:$space-m;}
    .pr-xl--xsmall { padding-right:$space-l;}
    .pr-xxl--xsmall { padding-right:$space-xl;}
    .pr-xxxl--xsmall { padding-right:$space-xxl;}
    .pr-xxxxl--xsmall { padding-right:$space-xxxl;}
    
    .pl-0--xsmall { padding-left:0;}
    .pl-xxs--xsmall { padding-left:$space-xxs;}
    .pl-xs--xsmall { padding-left:$space-xs;}
    .pl-s--xsmall { padding-left:$space-s;}
    .pl-m--xsmall { padding-left:$space-m;}
    .pl-l--xsmall { padding-left:$space-l;}
    .pl-xl--xsmall { padding-left:$space-xl;}
    .pl-xxl--xsmall { padding-left:$space-xxl;}
    .pl-xxxl--xsmall { padding-left:$space-xxxl;}
    .pl-xxxxl--xsmall { padding-left:$space-xxxxl;}
}

@include small-down() {
    .pt-0--xsmall-down { padding-top:0;}
    .pt-xxs--small-down { padding-top:$space-xxs;}
    .pt-xs--small-down { padding-top:$space-xxs;}
    .pt-s--small-down { padding-top:$space-xxs;}
    .pt-m--small-down { padding-top:$space-xxs;}
    .pt-l--small-down { padding-top:$space-xxs;}
    .pt-xl--small-down { padding-top:$space-xxs;}
    .pt-xxl--small-down { padding-top:$space-xxs;}
    .pt-xxxl--small-down { padding-top:$space-xxs;}
    .pt-xxxxl--small-down { padding-top:$space-xxs;}

    .pb-0--xsmall-down { padding-bottom:0;}
    .pb-xxs--small-down { padding-bottom:$space-xxs;}
    .pb-xs--small-down { padding-bottom:$space-xxs;}
    .pb-s--small-down { padding-bottom:$space-xxs;}
    .pb-m--small-down { padding-bottom:$space-xxs;}
    .pb-l--small-down { padding-bottom:$space-xxs;}
    .pb-xl--small-down { padding-bottom:$space-xxs;}
    .pb-xxl--small-down { padding-bottom:$space-xxs;}
    .pb-xxxl--small-down { padding-bottom:$space-xxs;}
    .pb-xxxxl--small-down { padding-bottom:$space-xxs;}

    .pr-0--small-down { padding-right:0;}
    .pr-xxs--small-down { padding-right:$space-xxs;}
    .pr-xs--small-down { padding-right:$space-xxs;}
    .pr-s--small-down { padding-right:$space-xxs;}
    .pr-m--small-down { padding-right:$space-xxs;}
    .pr-l--small-down { padding-right:$space-xxs;}
    .pr-xl--small-down { padding-right:$space-xxs;}
    .pr-xxl--small-down { padding-right:$space-xxs;}
    .pr-xxxl--small-down { padding-right:$space-xxs;}
    .pr-xxxxl--small-down { padding-right:$space-xxs;}
    
    .pl-0--small-down { padding-left:0;}
    .pl-xxs--small-down { padding-left:$space-xxs;}
    .pl-xs--small-down { padding-left:$space-xxs;}
    .pl-s--small-down { padding-left:$space-xxs;}
    .pl-m--small-down { padding-left:$space-xxs;}
    .pl-l--small-down { padding-left:$space-xxs;}
    .pl-xl--small-down { padding-left:$space-xxs;}
    .pl-xxl--small-down { padding-left:$space-xxs;}
    .pl-xxxl--small-down { padding-left:$space-xxs;}
    .pl-xxxxl--small-down { padding-left:$space-xxs;}

}
@include small() {
    .pt-0--small { padding-top:0;}
    .pt-xxs--small { padding-top:$space-xxs;}
    .pt-xs--small { padding-top:$space-xxs;}
    .pt-s--small { padding-top:$space-xxs;}
    .pt-m--small { padding-top:$space-xxs;}
    .pt-l--small { padding-top:$space-xxs;}
    .pt-xl--small { padding-top:$space-xxs;}
    .pt-xxl--small { padding-top:$space-xxs;}
    .pt-xxxl--small { padding-top:$space-xxs;}
    .pt-xxxxl--small { padding-top:$space-xxs;}
    
    .pb-0--small { padding-bottom:0;}
    .pb-xxs--small { padding-bottom:$space-xxs;}
    .pb-xs--small { padding-bottom:$space-xxs;}
    .pb-s--small { padding-bottom:$space-xxs;}
    .pb-m--small { padding-bottom:$space-xxs;}
    .pb-l--small { padding-bottom:$space-xxs;}
    .pb-xl--small { padding-bottom:$space-xxs;}
    .pb-xxl--small { padding-bottom:$space-xxs;}
    .pb-xxxl--small { padding-bottom:$space-xxs;}
    .pb-xxxxl--small { padding-bottom:$space-xxs;}
    
    .pr-0--small { padding-right:0;}
    .pr-xxs--small { padding-right:$space-xxs;}
    .pr-xs--small { padding-right:$space-xxs;}
    .pr-s--small { padding-right:$space-xxs;}
    .pr-m--small { padding-right:$space-xxs;}
    .pr-l--small { padding-right:$space-xxs;}
    .pr-xl--small { padding-right:$space-xxs;}
    .pr-xxl--small { padding-right:$space-xxs;}
    .pr-xxxl--small { padding-right:$space-xxs;}
    .pr-xxxxl--small { padding-right:$space-xxs;}
    
    .pl-0--small { padding-left:0;}
    .pl-xxs--small { padding-left:$space-xxs;}
    .pl-xs--small { padding-left:$space-xxs;}
    .pl-s--small { padding-left:$space-xxs;}
    .pl-m--small { padding-left:$space-xxs;}
    .pl-l--small { padding-left:$space-xxs;}
    .pl-xl--small { padding-left:$space-xxs;}
    .pl-xxl--small { padding-left:$space-xxs;}
    .pl-xxxl--small { padding-left:$space-xxs;}
    .pl-xxxxl--small { padding-left:$space-xxs;}

}


@include medium() {
    .pt-0--medium { padding-top:0;}
    .pt-xxs--medium { padding-top:$space-xxs;}
    .pt-xs--medium { padding-top:$space-xxs;}
    .pt-s--medium { padding-top:$space-xxs;}
    .pt-m--medium { padding-top:$space-xxs;}
    .pt-l--medium { padding-top:$space-xxs;}
    .pt-xl--medium { padding-top:$space-xxs;}
    .pt-xxl--medium { padding-top:$space-xxs;}
    .pt-xxxl--medium { padding-top:$space-xxs;}
    .pt-xxxxl--medium { padding-top:$space-xxs;}
    
    .pb-0--medium { padding-bottom:0;}
    .pb-xxs--medium { padding-bottom:$space-xxs;}
    .pb-xs--medium { padding-bottom:$space-xxs;}
    .pb-s--medium { padding-bottom:$space-xxs;}
    .pb-m--medium { padding-bottom:$space-xxs;}
    .pb-l--medium { padding-bottom:$space-xxs;}
    .pb-xl--medium { padding-bottom:$space-xxs;}
    .pb-xxl--medium { padding-bottom:$space-xxs;}
    .pb-xxxl--medium { padding-bottom:$space-xxs;}
    .pb-xxxxl--medium { padding-bottom:$space-xxs;}
    
    .pr-0--medium { padding-right:0;}
    .pr-xxs--medium { padding-right:$space-xxs;}
    .pr-xs--medium { padding-right:$space-xxs;}
    .pr-s--medium { padding-right:$space-xxs;}
    .pr-m--medium { padding-right:$space-xxs;}
    .pr-l--medium { padding-right:$space-xxs;}
    .pr-xl--medium { padding-right:$space-xxs;}
    .pr-xxl--medium { padding-right:$space-xxs;}
    .pr-xxxl--medium { padding-right:$space-xxs;}
    .pr-xxxxl--medium { padding-right:$space-xxs;}
    
    .pl-0--medium { padding-left:0;}
    .pl-xxs--medium { padding-left:$space-xxs;}
    .pl-xs--medium { padding-left:$space-xxs;}
    .pl-s--medium { padding-left:$space-xxs;}
    .pl-m--medium { padding-left:$space-xxs;}
    .pl-l--medium { padding-left:$space-xxs;}
    .pl-xl--medium { padding-left:$space-xxs;}
    .pl-xxl--medium { padding-left:$space-xxs;}
    .pl-xxxl--medium { padding-left:$space-xxs;}
    .pl-xxxxl--medium { padding-left:$space-xxs;}
}

@include medium-down() {
    .pt-0--medium-down { padding-top:0;}
    .pt-xxs--medium-down { padding-top:$space-xxs;}
    .pt-xs--medium-down { padding-top:$space-xxs;}
    .pt-s--medium-down { padding-top:$space-xxs;}
    .pt-m--medium-down { padding-top:$space-xxs;}
    .pt-l--medium-down { padding-top:$space-xxs;}
    .pt-xl--medium-down { padding-top:$space-xxs;}
    .pt-xxl--medium-down { padding-top:$space-xxs;}
    .pt-xxxl--medium-down { padding-top:$space-xxs;}
    .pt-xxxxl--medium-down { padding-top:$space-xxs;}
    
    .pb-0--medium-down { padding-bottom:0;}
    .pb-xxs--medium-down { padding-bottom:$space-xxs;}
    .pb-xs--medium-down { padding-bottom:$space-xxs;}
    .pb-s--medium-down { padding-bottom:$space-xxs;}
    .pb-m--medium-down { padding-bottom:$space-xxs;}
    .pb-l--medium-down { padding-bottom:$space-xxs;}
    .pb-xl--medium-down { padding-bottom:$space-xxs;}
    .pb-xxl--medium-down { padding-bottom:$space-xxs;}
    .pb-xxxl--medium-down { padding-bottom:$space-xxs;}
    .pb-xxxxl--medium-down { padding-bottom:$space-xxs;}
    
    .pr-0--medium-down { padding-right:0;}
    .pr-xxs--medium-down { padding-right:$space-xxs;}
    .pr-xs--medium-down { padding-right:$space-xxs;}
    .pr-s--medium-down { padding-right:$space-xxs;}
    .pr-m--medium-down { padding-right:$space-xxs;}
    .pr-l--medium-down { padding-right:$space-xxs;}
    .pr-xl--medium-down { padding-right:$space-xxs;}
    .pr-xxl--medium-down { padding-right:$space-xxs;}
    .pr-xxxl--medium-down { padding-right:$space-xxs;}
    .pr-xxxxl--medium-down { padding-right:$space-xxs;}
    
    .pl-0--medium-down { padding-left:0;}
    .pl-xxs--medium-down { padding-left:$space-xxs;}
    .pl-xs--medium-down { padding-left:$space-xxs;}
    .pl-s--medium-down { padding-left:$space-xxs;}
    .pl-m--medium-down { padding-left:$space-xxs;}
    .pl-l--medium-down { padding-left:$space-xxs;}
    .pl-xl--medium-down { padding-left:$space-xxs;}
    .pl-xxl--medium-down { padding-left:$space-xxs;}
    .pl-xxxl--medium-down { padding-left:$space-xxs;}
    .pl-xxxxl--medium-down { padding-left:$space-xxs;}

}
@include medium-only() {
    .pt-0--medium-only { padding-top:0;}
    .pt-xxs--medium-only { padding-top:$space-xxs;}
    .pt-xs--medium-only { padding-top:$space-xxs;}
    .pt-s--medium-only { padding-top:$space-xxs;}
    .pt-m--medium-only { padding-top:$space-xxs;}
    .pt-l--medium-only { padding-top:$space-xxs;}
    .pt-xl--medium-only { padding-top:$space-xxs;}
    .pt-xxl--medium-only { padding-top:$space-xxs;}
    .pt-xxxl--medium-only { padding-top:$space-xxs;}
    .pt-xxxxl--medium-only { padding-top:$space-xxs;}
    
    .pb-0--medium-only { padding-bottom:0;}
    .pb-xxs--medium-only { padding-bottom:$space-xxs;}
    .pb-xs--medium-only { padding-bottom:$space-xxs;}
    .pb-s--medium-only { padding-bottom:$space-xxs;}
    .pb-m--medium-only { padding-bottom:$space-xxs;}
    .pb-l--medium-only { padding-bottom:$space-xxs;}
    .pb-xl--medium-only { padding-bottom:$space-xxs;}
    .pb-xxl--medium-only { padding-bottom:$space-xxs;}
    .pb-xxxl--medium-only { padding-bottom:$space-xxs;}
    .pb-xxxxl--medium-only { padding-bottom:$space-xxs;}
    
    .pr-0--medium-only { padding-right:0;}
    .pr-xxs--medium-only { padding-right:$space-xxs;}
    .pr-xs--medium-only { padding-right:$space-xxs;}
    .pr-s--medium-only { padding-right:$space-xxs;}
    .pr-m--medium-only { padding-right:$space-xxs;}
    .pr-l--medium-only { padding-right:$space-xxs;}
    .pr-xl--medium-only { padding-right:$space-xxs;}
    .pr-xxl--medium-only { padding-right:$space-xxs;}
    .pr-xxxl--medium-only { padding-right:$space-xxs;}
    .pr-xxxxl--medium-only { padding-right:$space-xxs;}
    
    .pl-0--medium-only { padding-left:0;}
    .pl-xxs--medium-only { padding-left:$space-xxs;}
    .pl-xs--medium-only { padding-left:$space-xxs;}
    .pl-s--medium-only { padding-left:$space-xxs;}
    .pl-m--medium-only { padding-left:$space-xxs;}
    .pl-l--medium-only { padding-left:$space-xxs;}
    .pl-xl--medium-only { padding-left:$space-xxs;}
    .pl-xxl--medium-only { padding-left:$space-xxs;}
    .pl-xxxl--medium-only { padding-left:$space-xxs;}
    .pl-xxxxl--medium-only { padding-left:$space-xxs;}

}


@include large() {
    .pt-0--large { padding-top:0;}
    .pt-xxs--large { padding-top:$space-xxs;}
    .pt-xs--large { padding-top:$space-xxs;}
    .pt-s--large { padding-top:$space-xxs;}
    .pt-m--large { padding-top:$space-xxs;}
    .pt-l--large { padding-top:$space-xxs;}
    .pt-xl--large { padding-top:$space-xxs;}
    .pt-xxl--large { padding-top:$space-xxs;}
    .pt-xxxl--large { padding-top:$space-xxs;}
    .pt-xxxxl--large { padding-top:$space-xxs;}
    
    .pb-0--large { padding-bottom:0;}
    .pb-xxs--large { padding-bottom:$space-xxs;}
    .pb-xs--large { padding-bottom:$space-xxs;}
    .pb-s--large { padding-bottom:$space-xxs;}
    .pb-m--large { padding-bottom:$space-xxs;}
    .pb-l--large { padding-bottom:$space-xxs;}
    .pb-xl--large { padding-bottom:$space-xxs;}
    .pb-xxl--large { padding-bottom:$space-xxs;}
    .pb-xxxl--large { padding-bottom:$space-xxs;}
    .pb-xxxxl--large { padding-bottom:$space-xxs;}
    
    .pr-0--large { padding-right:0;}
    .pr-xxs--large { padding-right:$space-xxs;}
    .pr-xs--large { padding-right:$space-xxs;}
    .pr-s--large { padding-right:$space-xxs;}
    .pr-m--large { padding-right:$space-xxs;}
    .pr-l--large { padding-right:$space-xxs;}
    .pr-xl--large { padding-right:$space-xxs;}
    .pr-xxl--large { padding-right:$space-xxs;}
    .pr-xxxl--large { padding-right:$space-xxs;}
    .pr-xxxxl--large { padding-right:$space-xxs;}
    
    .pl-0--large { padding-left:0;}
    .pl-xxs--large { padding-left:$space-xxs;}
    .pl-xs--large { padding-left:$space-xxs;}
    .pl-s--large { padding-left:$space-xxs;}
    .pl-m--large { padding-left:$space-xxs;}
    .pl-l--large { padding-left:$space-xxs;}
    .pl-xl--large { padding-left:$space-xxs;}
    .pl-xxl--large { padding-left:$space-xxs;}
    .pl-xxxl--large { padding-left:$space-xxs;}
    .pl-xxxxl--large { padding-left:$space-xxs;}
}
@include xlarge() {
    .pt-0--xlarge { padding-top:0;}
    .pt-xxs--xlarge { padding-top:$space-xxs;}
    .pt-xs--xlarge { padding-top:$space-xxs;}
    .pt-s--xlarge { padding-top:$space-xxs;}
    .pt-m--xlarge { padding-top:$space-xxs;}
    .pt-l--xlarge { padding-top:$space-xxs;}
    .pt-xl--xlarge { padding-top:$space-xxs;}
    .pt-xxl--xlarge { padding-top:$space-xxs;}
    .pt-xxxl--xlarge { padding-top:$space-xxs;}
    .pt-xxxxl--xlarge { padding-top:$space-xxs;}
    
    .pb-0--xlarge { padding-bottom:0;}
    .pb-xxs--xlarge { padding-bottom:$space-xxs;}
    .pb-xs--xlarge { padding-bottom:$space-xxs;}
    .pb-s--xlarge { padding-bottom:$space-xxs;}
    .pb-m--xlarge { padding-bottom:$space-xxs;}
    .pb-l--xlarge { padding-bottom:$space-xxs;}
    .pb-xl--xlarge { padding-bottom:$space-xxs;}
    .pb-xxl--xlarge { padding-bottom:$space-xxs;}
    .pb-xxxl--xlarge { padding-bottom:$space-xxs;}
    .pb-xxxxl--xlarge { padding-bottom:$space-xxs;}
    
    .pr-0--xlarge { padding-right:0;}
    .pr-xxs--xlarge { padding-right:$space-xxs;}
    .pr-xs--xlarge { padding-right:$space-xxs;}
    .pr-s--xlarge { padding-right:$space-xxs;}
    .pr-m--xlarge { padding-right:$space-xxs;}
    .pr-l--xlarge { padding-right:$space-xxs;}
    .pr-xl--xlarge { padding-right:$space-xxs;}
    .pr-xxl--xlarge { padding-right:$space-xxs;}
    .pr-xxxl--xlarge { padding-right:$space-xxs;}
    .pr-xxxxl--xlarge { padding-right:$space-xxs;}
    
    .pl-0--xlarge { padding-left:0;}
    .pl-xxs--xlarge { padding-left:$space-xxs;}
    .pl-xs--xlarge { padding-left:$space-xxs;}
    .pl-s--xlarge { padding-left:$space-xxs;}
    .pl-m--xlarge { padding-left:$space-xxs;}
    .pl-l--xlarge { padding-left:$space-xxs;}
    .pl-xl--xlarge { padding-left:$space-xxs;}
    .pl-xxl--xlarge { padding-left:$space-xxs;}
    .pl-xxxl--xlarge { padding-left:$space-xxs;}
    .pl-xxxxl--xlarge { padding-left:$space-xxs;}
}