
// ----------------------------------------------------------------------------
// Font sizing
// ----------------------------------------------------------------------------
//do we want to extend these .. or do we just want to add a class ? 
%font-size-xxxxl {
    @include rem('font-size', $font-size-xxxxl);
    line-height: $line-height-xxxl;
    @include small-down {
        & {
            @include rem('font-size', $font-size-xxxl);
            line-height: $line-height-xxxl;
        }
    }
}

%font-size-xxxl {
    //@include font-size($font-size-xxxl);
    @include rem('font-size', $font-size-xxxl);
    line-height: $line-height-xxxl;
    @include small-down {
        & {
            @include rem('font-size', $font-size-xxl);
            line-height: $line-height-xxl;
        }
    }
}

%font-size-xxl {
    @include rem('font-size', $font-size-xxl);
    line-height: $line-height-xxl;
    @include small-down {
        & {
            @include rem('font-size', $font-size-xl);
            line-height: $line-height-xl;
        }
    }
}

%font-size-xl {
    @include rem('font-size', $font-size-xl);
    line-height: $line-height-xl;
    @include small-down {
        & {
            @include rem('font-size', $font-size-l);
            line-height: $line-height-l;
        }
    }
}

%font-size-l {
    @include rem('font-size', $font-size-l);
    line-height: $line-height-l;
}

%font-size-m {
    @include rem('font-size', $font-size-m);
    line-height: $line-height-m;
}

%font-size-s {
    @include rem('font-size', $font-size-s);
    line-height: $line-height-s;
}

%font-size-xs {
    @include rem('font-size', $font-size-xs);
    line-height: $line-height-xs;
}



// ----------------------------------------------------------------------------
// Headings
// ----------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6, p, .text, li, code, .intro, ul, li {
    //remove top margin from typographic elements
    margin-top:0;
}

h1, 
.font-font-size-xxxl {
    @include rem(margin-bottom,$space-xxxl);
    @extend %font-size-xxxl;
    font-weight:$font-normal;
}

h2, 
.font-size-xxl {
    @include rem(margin-bottom,$space-m);
    @include small-down() {
        @include rem('margin-bottom', $space-s);
    }
    @extend %font-size-xxl;
   font-weight:$font-normal;
}

h3,
.font-size-xl {
    @include rem(margin-bottom,$space-m);
    @extend %font-size-xl;
    font-weight:$font-bold;
    @include small-down() { 
        @include rem('margin-bottom', $space-s);
    }
}

h4,
.font-size-l {
    @include rem(margin-bottom,$space-m);
    @extend %font-size-l;
    font-weight:$font-bold;
    @include small-down() {
        @include rem('margin-bottom', $space-s);
    }

}

h5,
.font-size-m {
    @include rem(margin-bottom,$space-m);
    @extend %font-size-m;
    @include small-down {
        @include rem('margin-bottom', $space-s);
    }
    font-weight:$font-bold;
}

h6 {
    @include rem(margin-bottom,$space-m);
    @include small-down {
        @include rem('margin-bottom', $space-s);
    }
    @extend %font-size-m;
    font-weight:$font-normal;
}


// ----------------------------------------------------------------------------
// Body copy
// ----------------------------------------------------------------------------

// %body-spacing {
//     margin-top:0;
//     @include rem(margin-bottom,$space-m);
// }

%body-font-size {
    @extend %font-size-m;
    font-weight:$font-normal;
}

p, .text, code, ul, ol, td, dl {
    margin-top:0;
    @include rem(margin-bottom,$space-m);
}

p, .text, code, dt, dd, td, th {
    @extend %body-font-size;
}

li {
    @extend %font-size-m;
    @include rem(margin-top,$space-xs);
    margin-bottom: 0;
}

.intro {
    @extend %font-size-xl;
    @include rem(margin-bottom,$space-m);
    font-weight:$font-light;
    &:last-child {
        @include rem(margin-bottom,$space-xxxl);
    }
}

.emphasis { @extend %font-size-l;}
.small { @extend %font-size-s; }
.tiny { @extend %font-size-xs; }



strong, 
b { font-weight:$font-bold; }
em, i, cite, dfn,.font-italic { 
    font-style:italic; 
}


// ----------------------------------------------------------------------------
// Links
// ----------------------------------------------------------------------------

a {
    outline: 0;
    text-decoration: none;
    color: $base-link-color;
    &:hover {
        color: darken($base-link-color, 10%);
    }
}


// ----------------------------------------------------------------------------
// HR
// ----------------------------------------------------------------------------

hr {
    @include rem(margin-top,$space-xxl);
    @include rem(margin-bottom,$space-xxl);
    height: 1px;
    border: none;
    background-color: #ddd;
}

















//clean up

// dt, dd, td {
//     margin-top:0;
// }


// ----------------------------------------------------------------------------
// Definition lists
// ----------------------------------------------------------------------------

dl {

}
    dt {
        font-weight: 600;
    }

    dd {
        margin-left: 0;
        @include rem(margin-bottom,$space-s);
    }

.dl--stripey {
    dt {
        @include rem(padding-top,$space-s);
        @include rem(padding-right,$space-s);
        @include rem(padding-bottom,$space-s);
        float:left;
    }

    dd {
        margin-top:0;
        margin-left:0;
        margin-bottom:0;
        @include rem(padding-top,$space-s);
        @include rem(padding-bottom,$space-s);
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: inherit;
        text-align:right; 
    }
    @include small-down {
        dt {
            border-top-style: solid;
            border-top-width: 1px;
            border-top-color: inherit;
            float:none!important;
        }
        dd {
          text-align:left!important;
        } 
    }

}


.dl--inline {
    dd, dt {
        display: inline;
        margin: 0;
    }
    dd {
        @include rem(padding-right,$space-l);
    }
    dt:after {
        content: "\2014";
        margin-left: $space/8;
        color: #999;
        font-weight: 300;
    }
}


// ----------------------------------------------------------------------------
// blockquote
// ----------------------------------------------------------------------------

blockquote {
    @extend %font-size-l;
    @include rem(padding-left,$space-l);
    @include rem(padding-right,$space-l);
    @include rem(padding-top,$space-xs);
    @include rem(padding-bottom,$space-xs);
    margin-left:0;
    border-left-weight:3px;
    border-left-style:solid;
    border-left-color: inherit;
}
    cite {
        &:before {
            content: "\2014\00a0";
            font-weight: $font-light;
        }
        @extend %font-size-s;
        color: #666;
    }


    .quotes {
        position: relative;
        &:before, &:after {
            content: '\201C';
        }
        &:after {
            content: '\201D';
        }
    }

.blockquote-harry {
    @include rem(padding-top,$space-m);
    @include rem(padding-bottom,$space-m);
    position:relative;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    border-left:none;
}  

    .blockquote-harry:before {
        background-color: #fff;
        background-position: 50% 50%;
        background-size: 22px 16px;
        content: "";
        height: 38px;
        left: 50%;
        margin-left: -19px;
        position: absolute;
        top: -19px;
        width: 38px;
        background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2244.003px%22%20height%3D%2231.302px%22%20viewBox%3D%220%200%2044.003%2031.302%22%20enable-background%3D%22new%200%200%2044.003%2031.302%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%20%3Cpath%20d%3D%22M16.201%2C0l5.3%2C5.5C17.9%2C7%2C12.801%2C10.2%2C11%2C13.9c0.301-0.1%2C0.9-0.1%2C1.101-0.1c3.9%2C0%2C7.2%2C2.5%2C7.2%2C7.5%20%20c0%2C5.5-5.2%2C10.002-10.4%2C10.002c-4.6%2C0-8.9-3.201-8.9-9.4C0%2C13.601%2C6.9%2C4.5%2C16.201%2C0z%20M38.702%2C0l5.301%2C5.5%20%20c-3.601%2C1.5-8.701%2C4.7-10.501%2C8.4c0.3-0.1%2C0.9-0.1%2C1.2-0.1c3.7%2C0%2C7.101%2C2.5%2C7.101%2C7.5c0%2C5.5-5.101%2C10.002-10.301%2C10.002%20%20c-4.7%2C0-9-3.201-9-9.4C22.502%2C13.601%2C29.401%2C4.5%2C38.702%2C0z%22%2F%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
        background-repeat: no-repeat;
       
    }


// ----------------------------------------------------------------------------
// strikethrough
// ----------------------------------------------------------------------------

del { text-decoration:line-through; }



// ----------------------------------------------------------------------------
// Sub and sup
// ----------------------------------------------------------------------------

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {  top: -0.5em; }

sub {  bottom: -0.25em; }


// ----------------------------------------------------------------------------
// Remove last childs margin
// ----------------------------------------------------------------------------
//this is when you have a block of text and you need to remove the bottom margin so you can add some content padding
.content-block > {
    &:last-child {
        margin-bottom:0!important;
    }
}