{% if item.errors %}

    {% set errors = "error" %}
    
{% endif %}

{% for item in item.data %}

    <div class="form-group {% if item.inline %} gutters {% else %} col {% endif %}{% if errors %} field--error{% endif %} {{item.col_size}}">
        
         {% if item.type == "submit" %}

            {% include "components/form/submit.j2" %}

        {% else %}

            {% include "components/form/label.j2" %}
            
            {% if item.type == "select" %}
                {% include "components/form/select.j2" %}
           
            {% else %} 
                {% include "components/form/input.j2" %}
            {% endif %}
            
            {% include "components/form/note.j2" %}

        {% endif %}
        
    </div>

{% endfor %}