<form class="{{item.form_class}}" role="form">
              
  <div class="form-group input--group">

    {% for input in item.inputs %}
        {% set item = input %}
        {% set label_class  = 'u-sr-only' %}
        {% include "components/form/label.j2" %}
        {% include "components/form/input.j2" %}

    {% endfor %}

  </div>

</form>