<form class="" role="form">
              
  <div class="form-group input--group">

    {% for input in item.group %}

        {% include "components/form/label.j2" %}
        {% include "components/form/input.j2" %}

    {% endfor %}

  </div>

</form>