<form class="" role="form">
              <!--potentially extend form group-->
  <div class="form-group input--group">
    {% include "components/form/label.j2" %}
    {% include "components/form/input.j2" %}

    <!--<label class="u-sr-only" for="exampleInputEmail2">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">-->

  </div>

</form>