// ----------------------------------------------------------------------------
// LISTS
// ----------------------------------------------------------------------------

%list-styled {
    @include rem(margin-bottom,$space-xl);
    @include rem(padding-left,$space-m);
    padding-top:0;
    margin-left: 0;
    margin-top: 0;

    & > li {
        margin-left: 0;
        position: relative;
        list-style:disc; 
    }
}

ul,
ol { @extend %list-styled; }

li ul, 
li ol {
    @include rem(padding-top,$space-xs);
    @include rem(margin-left,$space-l);
    margin-bottom:0;
    padding-left:0;
}


.nav {
    @extend %list--inline;
    & > li {
        margin-right: .5em;
    }
}
//work out where thus is used can it not be list unstyled
%nav {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    & > li {
        margin-top: 0;
    }
}

/**
* Throws list items into a collection of inline-blocks
*/
.nav {
/* ul, ol */
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
    font-size: medium; 
}
    .nav > li {
        display: inline-block;
        vertical-align: middle; 
    }


/**
* Extends `.nav {}`
*
* Adds spacing between a bunch of inline block nav children.
*
*/
.nav--links > li {
margin-right: 0.75em;
line-height: 1; }
.nav--links > li:last-child {
margin-right: 0; }
.nav--links > .nav--links__tight {
margin-right: 0.25em; }
 
.nav--bullet li:after {
content: "â€¢";
margin-left: 0.55em;
color: #aaa;
display: inline-block; }
.nav--bullet li:last-child:after {
display: none; }