{% extends "/pattern-library/index.j2" %}
{% import "macros.j2" as macros %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/css/style-guide.css">
{% endblock %}


{% block content %}

    <div class='theme--neutral'>

        <div class='[ wrapper ]'>

            <div class='flego-components'>

                <div class='[ grid ]'>
          
                    <ul class='[ col ] nav'>
                        <li>
                            <a class='u-bold pill'>
                               Filter:
                            </a>
                        </li>
                        <li>
                            <a href='#buttons' class='pill pill--white'>
                               buttons
                            </a>
                        </li>
                        <li>
                            <a href='#action-links' class='pill pill--white'>
                               action links
                            </a>
                        </li>

                        <li>
                            <a href='#anchor-links' class='pill pill--white'>
                               anchor links
                            </a>
                        </li>

                        <li>
                            <a href='#breadcrumbs' class='pill pill--white'>
                               breadcrumbs
                            </a>
                        </li>

                    </ul>
                  
                </div>

            </div>

        </div>

    </div>

    <div class='theme--neutral'>

        <div class='wrapper'>

            {% for item in data %}
                {{ item|component }}
            {% endfor %}
        </div> 

    </div>
    
{% endblock %}