{% extends "template.j2" %}
{% import "macros.j2" as macros %}

{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="/css/style-guide.css">

{% endblock %}



{% set title = title %}

{% block header %}
    {{ macros.component_header(title)}}
{% endblock  %}


{% block content %}

<div class='section'>

    <div class="theme--neutral">
        
        <div class=" [ wrapper ] ">

            <div class="[ layout  ] theme--white">

                {% for item in data %}
                    {{ item|component }}
                {% endfor %}
             
            </div>
            
        </div>

    </div>

</div>

{% endblock %}


