<div class='[ grid ] ' >

    <div class='[ col ]'>
    
        <ul class='flego-navigation'>
            <li>
                <a href='/pattern-library/type/' class='{% if item.title == "type" %} flego-navigation--active{% endif %}'>
                    Type
                    <i class='arrow arrow-bottom'></i>
                </a>
            </li>
            <li>
                <a href='/pattern-library/buttons/' class='arrow--center{% if item.title == "buttons" %} flego-navigation--active {% endif %}'>
                    Buttons
                    <i class='arrow arrow-bottom'></i>
                </a>
            </li>

            <!--<li>
                <a href="/pattern-library/grid/" class="{% if item.title == 'grid' %}flego-navigation--active{% endif %}">
                    Grid
                    <i class="arrow arrow-bottom"></i>
                </a>
            </li>-->
           
            <!--<li>
                <a href="/pattern-library/forms/" class='{% if item.title == "forms" %} flego-navigation--active{% endif %}'>
                    Forms
                    <i class="arrow arrow-bottom"></i>
                </a>
            </li>-->
            <!--<li>
                <a href='/pattern-library/patterns/' class='arrow--center{% if item.title == "patterns" %} flego-navigation--active {% endif %}'>
                    Patterns
                    <i class='arrow arrow-bottom'></i>
                </a>
            </li>-->
            <!--<li>
                <a href='/pattern-library/gallery/' class='arrow--center{% if item.title == "gallery" %} flego-navigation--active {% endif %}'>
                    Gallery
                    <i class='arrow arrow-bottom'></i>
                </a>
            </li>-->

            <li>
                <a href='/pattern-library/layout/' class='arrow--center{% if item.title == "layout" %} flego-navigation--active {% endif %}'>
                    Layout
                    <i class='arrow arrow-bottom'></i>
                </a>
            </li>

            <li>
                <a href='/pattern-library/ui-components/' class='{% if item.title == "components" %} flego-navigation--active {% endif %}'>
                    Everything else
                    <i class='arrow arrow-bottom'></i>
                </a>
            </li>
            
        </ul>

    </div>

</div>
