<div class=''>
    
    {% if item.title %}

        <h3>
            {{ item.title|safe }}
        </h3>

    {% endif %}

    <dl class='{{item.theme}} {{item.class}} '>

    {% for piece in item.data %}

        <dt class='{{item.font_size}} {{item.left_gutter}} {{item.section_padding | default('pt-s pb-s')}}' >
            {{ piece.left|safe }}
        </dt>

        <dd class='{{item.font_size}} {{item.section_padding | default('pt-s pb-s')}} {{item.left_gutter}} {{item.right_gutter}}' >
            {{ piece.right|safe }}
        </dd>

    {% endfor %}

    {% if item.total %}
 
        <dt>
             Total
        </dt>

        <dd>
           {{ item.total|safe }}
        </dd>

    {% endif %}

    </dl>
    
</div>