<div class=''>
    {% if item.heading %}

        <h3>
            {{ item.heading|safe }}
        </h3>

    {% endif %}
    <dl class='{{item.theme}} {% if item.class %}{{item.class}}{% endif %}'>

    {% for item in item.data %}

        <dt>
            {{ item.u-left|safe }}
        </dt>

        <dd>
            {{ item.u-right|safe }}
        </dd>

    {% endfor %}

    {% if item.total %}
 
        <dt>
             Total
        </dt>

        <dd>
           {{ item.total|safe }}
        </dd>

    {% endif %}

    </dl>
    
</div>