{% extends "template.j2" %}
{% import "macros.j2" as macros %}

{% block navigation %}
          
 <div class="bg--dark-blue">

    <div class="[ wrapper ] ">

        <div class='[ pt-s pb-s  layout ] '>

            <div class="[ grid grid--middle ] ">
                
                <div class='[ col small-2 ]  '>
                    
                    <a {% if homepage %}href='https://www.forsythbarr.co.nz/'{% else %} href='/pages/forbar-accounts/'{% endif %} class='i i-forsyth-barr-logo' accesskey="h">
                        <span class="u-sr-only"></span>
                    </a>

                </div>

                <div class='[ col small-8 ] u-relative {% if homepage %} u-hide {% endif %}'>

                    <a href="#modal" class="text--white u-text-right u-block font-size-xs">JEBEDIAH SPRINGFIELD &#65516;</a>

                    <div class='modal' id='modal'>
                        <div class="modal-dialog arrow--right">
                            <i class='arrow arrow-top '></i>
                            <a href="#close" class="modal-close" aria-hidden="true" >×</a>
                            <div class='bg--white ' >
                                <div class='[ wrapper ]'>     
                                    <div class='[ layout ]  ' >
                                        <div class='[ grid grid--middle  ] '>        
                                            <div class="[ col    ]  content-block"> 
                                                <div class='content-block    pt-xl pb-xl' >
                                                    <h3 id="hello-jebediah-springfield" >
                                                        Hello, Jebediah Springfield
                                                         <span class='u-uppercase font-size-xs u-block'>Last signed in 1:42 1st October 2014</span>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

        <div class='bg--light-grey' >
            <div class='[ wrapper ]'>   
                <div class='[ layout ]  ' >
                    <div class='[ grid grid--middle  ] '> 
                        <div class="[ col    ]  content-block">
                            <div class='content-block pt-xs pb-xs' >
                                <p class='small  '>
                                    Investment accounts
                                </p>
                            </div>
                        </div>   
                    </div>
                </div >
            </div>
        </div>

        <div class='theme--white border-b ' >

            <div class='[ wrapper ]'>   
                <div class='[  layout ]  ' >

                    <div class='[ grid grid--middle  ]  bigLink '>
                
                                
                        <div class="[ col    ]  ">
                                
                            <div class='content-block pt-s pb-s  '>

                                <h4 >
                                    <a href='/pages/forbar-transactions/' class='test'>TM Herrick</a>
                                    <span class='u-block u-light font-size-xs'>1380016</span>
                                </h4>

                            </div>
                        </div>   
                    </div>
                </div >
            </div>
        </div>

        <div class='theme--white border-b ' >
            <div class='[ wrapper ]'>   
                <div class='[  layout ] ' >
                    <div class='[ grid grid--middle  ]  bigLink '>     
                        <div class="[ col    ]  ">
                            <div class='content-block pt-s pb-s '>
                                <h4 >
                                    <a href='/pages/forbar-transactions/' class='test'>M A Broad</a>
                                    <span class='u-block u-light font-size-xs'>1380016</span>
                                </h4>

                            </div>
                        </div>     
                    </div>
                </div >
            </div>
        </div>

        <div class='theme--white ' >

            <div class='[ wrapper ]'>   
            
                <div class='[ pt-m pb-m layout ]' >

                    <div class='[ grid grid--middle  ] '>
                        
                        <div class="[ col    ]  half content-block">
                        
                            <a class='btn u-uppercase btn--plain btn--small btn--block   btn--soft' href="/pages/forbar-profile/">
                                profile 
                            </a>

                        </div>

                        <div class="[ col    ]  half content-block">
                        
                            <a class='btn u-uppercase btn--plain btn--small btn--block   btn--soft' href="/pages/forbar/">
                                sign out
                            </a>

                        </div>

        
                    </div>

                </div >

            </div>

        </div>
        <div class='bg--light-grey ' >

            <div class='[ wrapper ]'>   
            
                <div class='[ pt-m pb-m layout ]' >

                    <div class='[ grid grid--middle  ] '>
                        
                       

                        <div class="[ col  ]  content-block">
                            <p>
                                <a href='https://www.forsythbarr.co.nz/'>Forsyth Barr</a> &middot;  <a href='https://www.forsythbarr.co.nz/contact-us/'>Contact us</a>
                            </p>
                        </div>

        
                    </div>

                </div >

            </div>

        </div>

    </div>
</div>
                    
                </div>
      
            </div>
        
        </div>

    </div>

</div>


<!-- <div class='theme--black'>
    <div class='[ wrapper ]'>
        <div class='[ layout ]'>
            <div class='[ grid ]'>
                <div class='[ col  ]'>
                    <div class='pt-m pb-m content-block'>
                        <h3>
                            <a href='/pages/forbar/'>{{client}} Prototype</a>
                        </h3>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div> -->

{% endblock  %}
{% block sub_navigation %}
{% endblock  %}

{% block content %}

        {% block page_site_wrapper %}

            {% block page_navigation %}
            {% endblock %}

            {% block page_sub_navigation %}
            {% endblock %}

            {% block page_content %}
                 
                 {% for item in data %}
                    {{ item|component }}
                {% endfor %}

            {% endblock %}

            {% block page_footer %}
            {% endblock %}

        {% endblock %}
        
    </div>
   
{% endblock %}

{% block anchor %}
{% endblock %}

{% block footer %}
<div class=''>
    <div class='[ wrapper ]'>
        <div class='[ layout--forbar pt-l pb-s ]'>
            <div class='[ grid grid--middle ]'>
                <div class='[ col medium-half ]'>
                    <p class=' '><a href='https://www.forsythbarr.co.nz/'>Forsyth Barr</a> &middot;   <a href='https://www.forsythbarr.co.nz/contact-us/'>Contact us</a></p>
                </div>
                <div class='[ col medium-half  ]'>
                    <p class='u-uppercase tiny u-right'>{% if homepage %}  {% else %}Jebediah Springfield &middot; {% endif %}  <a href='/pages/forbar-accounts/'>Accounts</a> &middot; <a href='/pages/forbar-profile/'>Profile</a> &middot; <a href='/pages/forbar/'>Sign out</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock  %}