{% extends "template.j2" %}
{% import "macros.j2" as macros %}

{% block navigation %}
<!-- <div class='theme--black'>
    <div class='[ wrapper ]'>
        <div class='[ layout ]'>
            <div class='[ grid ]'>
                <div class='[ col  ]'>
                    <div class='pt-m pb-m content-block'>
                        <h3>
                            <a href='/pages/forbar/'>{{client}} Prototype</a>
                        </h3>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div> -->

{% endblock  %}
{% block sub_navigation %}
{% endblock  %}

{% block content %}

        {% block page_site_wrapper %}

            {% block page_navigation %}
            {% endblock %}

            {% block page_sub_navigation %}
            {% endblock %}

            {% block page_content %}
                 
                 {% for item in data %}
                    {{ item|component }}
                {% endfor %}

            {% endblock %}

            {% block page_footer %}
            {% endblock %}

        {% endblock %}
        
    </div>
   
{% endblock %}

{% block anchor %}
{% endblock %}

{% block footer %}
<!--     <div class='theme--black'>
        <div class='[ wrapper ]'>
            <div class='[ layout ]'>
                <div class='[ grid ]'>
                    <div class='[ col ]'>
                        <div class='pt-m pb-m content-block'>
                            <p class='font-size-xs'>
                                <strong>DISCLAIMER:</strong> Interaction prototyping is not the same thing as production coding.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
{% endblock  %}