{% import "macros.j2" as macros %}
<!doctype html>
<html class="no-js">
<head>
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="//cloud.webtype.com/css/f0ce1a38-c7de-49f6-a057-bb4743f5fec5.css" rel="stylesheet" type="text/css" />-->
    <link href="//cloud.webtype.com/css/25f4ab15-f9e7-4189-840a-17332d1b57a4.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/screen.css"/>
    {% block stylesheets %}{% endblock %}
    <script>
    /* grunticon Stylesheet Loader | https://github.com/filamentgroup/grunticon | (c) 2012 Scott Jehl, Filament Group, Inc. | MIT license. */
        window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!(!t.document.createElementNS||!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect||!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1")||window.opera&&-1===navigator.userAgent.indexOf("Chrome")),o=function(o){var r=t.document.createElement("link"),a=t.document.getElementsByTagName("script")[0];r.rel="stylesheet",r.href=e[o&&n?0:o?1:2],a.parentNode.insertBefore(r,a)},r=new t.Image;r.onerror=function(){o(!1)},r.onload=function(){o(1===r.width&&1===r.height)},r.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};
        grunticon(["/css/icons-data-svg.css", "/css/icons-data-png.css", "/css/icons-fallback.css"]);
    </script>
    <noscript>
        <link href="/css/icons-fallback.css" rel="stylesheet">
    </noscript>
</head>

<body class="theme--neutral {{ body_class }}">
  

    {% block navigation %}

        <div class="global-nav theme--white mb-l">

            <div class="[ wrapper ]">

                <div class="[ layout ]">

                    <div class="[ grid grid--middle ]">
                        
                        <div class='[ col large-2 medium-2 small-3 ] '>
                            
                            <a href='/'>
                                <img src='/images/fred-logo.png'>
                            </a>

                        </div>

                        <div class='[ col large-8 medium-8 small-7 ] global-nav__items '>
                            
                            <a href='/pages/' class='btn ml-m mb-0 {% if title == 'pages' %} text--green {% endif %}'>
                                 Pages
                            </a>
                            <a href='/pattern-library/' class='btn b ml-m mb-0 {% if title == 'flego' %} text--green{% endif %}'>
                                Components
                            </a>
                            
                      
                            <a href='/helpers/' class='btn  ml-m mb-0 {% if title == 'flego' %}text--green {% endif %}'>
                                Helpers
                            </a>

                        </div>
              
                    </div>

                </div>

            </div>

        </div>
            
    {% endblock %}
    

    {% block sub_navigation %}
    {% endblock %}

    {% block header %}
    {% endblock %}

    {% block content %}

        {% for item in data %}
            {{ item|component }}
        {% endfor %}

        {% block page_site_wrapper %}


            {% block page_navigation %}
            {% endblock %}


            {% block page_sub_navigation %}
            {% endblock %}


            {% block page_content %}
            {% endblock %}


            {% block page_footer %}
            {% endblock %}

        {% endblock %}

    {% endblock %}



    {% block footer %}

        <div class="theme--dark">

            <div class="[ wrapper ]">

                <div class="[ layout pt-l pb-l ]">

                    <div class="[ grid grid--middle ]">
                        
                        <div class='[ col ] '>
                  
                            <p>
                                Made with &nbsp; &hearts; &nbsp; by friendly Feds
                                <span class='split__u-right'>
                                     © 2014. All u-rights reserved.
                                 </span>
                            </p>

                        </div>

                    </div>

                </div>

            </div>

        </div>
        <div class='wrapper'>
            <div class="layout">
            <hr />
            <h1 class='mt-xxl'>Basic form</h1>

           
            <form class='grid' role="form">
      
                <div class="form-group col">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                </div>
                <div class="form-group col">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  <p class="help-block">Example block-level help text here.</p>
                </div>
                <div class="form-group col">
                  <label for="exampleInputFile">File input</label>
                  <input type="file" id="exampleInputFile">
                </div>
                <div class="form-group col">
                  <div class="checkbox ">
                    <label>
                      <input type="checkbox"> Check me out
                    </label>
                  </div>
                </div>
                <div class="form-group col">
                  <button type="submit" class="btn btn--primary btn--soft">Submit</button>
                </div>
            </form>
            <hr />
            <h1 class='mt-xxl'>Basic form with columns</h1>
            <form class='grid' role="form">
      
                <div class="form-group col medium-half">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                  <p class="help-block">Example block-level help text here.</p>
                </div>
                <div class="form-group col medium-half">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  <p class="help-block">Example block-level help text here.</p>
                </div>
                <div class="form-group col ">
                  <label for="exampleInputFile">File input</label>
                  <input type="file" id="exampleInputFile">
                </div>
                <div class="form-group col">
                  <div class="checkbox ">
                    <label>
                      <input type="checkbox"> Check me out
                    </label>
                  </div>
                </div>
                <div class="form-group col">
                  <button type="submit" class="btn btn--primary btn--soft">Submit</button>
                </div>
            </form>
            <hr />
            <h1 class='mt-xxl'>Inline form</h1>

            <form class="form-inline" role="form">
              
              <div class="form-group">
                <label class="u-sr-only" for="exampleInputEmail2">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
              </div>

              <div class="form-group">
                <label class="u-sr-only" for="exampleInputPassword2">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
              </div>

              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Remember me
                  </label>
                </div>
              </div>

              <button type="submit" class="btn btn--primary btn--soft">Sign in</button>

            </form>
            <hr />
            <h1 class='mt-xxl'>Horizontal form</h1>

            <form class="form--horizontal" role="form">
              
              <div class="form-group medium-grid--table">
                
                <label for="inputEmail3" class="medium-quarter control-label">Email</label>
                
                <div class="medium-three-quarters">
                  <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>

              </div>
              
              <div class="form-group medium-grid--table">
                
                <label for="inputPassword3" class="medium-quarter control-label">Password</label>
                
                <div class="medium-three-quarters">
                  <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>

              </div>

              <div class="form-group medium-grid--table">

                <div class='medium-quarter'>
                </div>
                <div class="medium-three-quarters">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Remember me
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group medium-grid--table">
                <div class='medium-quarter'>
                </div>
                <div class="medium-three-quarters">
                    <label>
                      <button type="submit" class="btn btn--primary btn--soft">Sign in</button>
                    </label>
                </div>
              </div>
            </form>

            <hr />
            <h1 class='mt-xxl'>Simple coponents
            </h1>
            
            <input type="text" class="form-control" placeholder="Text input">
            
            <textarea class="form-control" rows="3"></textarea>
           
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Option one is this and that&mdash;be sure to include why it's great
              </label>
            </div>

            <div class="checkbox disabled">
              <label>
                <input type="checkbox" value="" disabled>
                Option two is disabled
              </label>
            </div>

            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                Option one is this and that&mdash;be sure to include why it's great
              </label>
            </div>

            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                Option two can be something else and selecting it will deselect option one
              </label>
            </div>

            <div class="radio disabled">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                Option three is disabled
              </label>
            </div>

          
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
            </label>

            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
            </label>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
            </label>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
            </label>
<span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
<p>selects</p>
<select class="form-control">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>

<select multiple class="form-control">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>
<h2>error messages </h2>
<div class="form-group has-success">
  <label class="control-label" for="inputSuccess1">Input with success</label>
  <input type="text" class="form-control" id="inputSuccess1">
</div>
<div class="form-group has-warning">
  <label class="control-label" for="inputWarning1">Input with warning</label>
  <input type="text" class="form-control" id="inputWarning1">
</div>
<div class="form-group has-error">
  <label class="control-label" for="inputError1">Input with error</label>
  <input type="text" class="form-control" id="inputError1">
</div>
<div class="has-error">
  <div class="radio">
    <label class="checkbox">
      <input type="checkbox" id="checkboxError" value="option1">
      Option one is this and that&mdash;be sure to include why it's great
    </label>
  </div>
</div>
<div class="has-success">
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="radiosSuccess1" value="option1" checked>
      Option one is this and that&mdash;be sure to include why it's great
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="radiosSuccess2" value="option2">
      Option two can be something else and selecting it will deselect option one
    </label>
  </div>
  <h2>With optional icons</h2>
  <div class="form-group has-success has-icon">
      <label class="control-label" for="inputSuccess2">Input with success</label>
      <input type="text" class="form-control" id="inputSuccess2">
      <span class="form-control-icon">&#10003;</span>
    </div>
    <div class="form-group has-warning has-icon">
      <label class="control-label" for="inputWarning2">Input with warning</label>
      <input type="text" class="form-control" id="inputWarning2">
      <span class="form-control-icon u-bold">!</span>
    </div>
    <div class="form-group has-error has-icon">
      <label class="control-label" for="inputError2">Input with error</label>
      <input type="text" class="form-control" id="inputError2">
      <span class="form-control-icon u-bold">x</span>
    </div>
</div>
<h1>stacked inputs</h1>
<form class="" role="form">
              
  <div class="form-group input--group">
    <label class="u-sr-only" for="exampleInputEmail2">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
    <label class="u-sr-only" for="exampleInputEmail2">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email 2">
    <label class="u-sr-only" for="exampleInputEmail2">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email  3">
  </div>

</form>
</div>

        </div>

    {% endblock %}

    {% block anchor %}
       <a href='#' class='u-fixed-bottom back-to-top-anchor icons--large'><i class='i i--white i-map-caret-up'></i></a>
    {% endblock %}

 

    <script src="/js/site.js"></script>
    <script src="/js/showhide.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/js/biglink.js"></script>
    {% block scripts %}{% endblock %}
    <script>
      $(".bigLink").bigLink();
      

    </script>
    <script src="//localhost:35729/livereload.js"></script>
</body>
</html>