/*------------------------------------*\
    #GLOBAL NAV
\*------------------------------------*/
.global-nav__items   {
        
    & > * {
        float:right;
    }
}


%nav_item {
    @extend %remove-anchor-decoration;
    @include rem(padding-left,$space-m);
    @include rem(line-height,$btn--medium);
    margin-top:0;
    margin-bottom:0;
    padding-right:0;
    padding-bottom:0;
    padding-top:0;
    display:inline-block;
    box-sizing:border-box;
    text-align:center;
    white-space: nowrap;
    border: none;
    cursor:pointer;
    font-family: inherit;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    &:hover { text-decoration: none; }
}

.nav_item {
    
    @extend %nav_item;

    &.small { @include rem(padding-left,$space-s);}

    &.theme {
        @include rem(padding-right,$space-m);
        @include rem(margin-left,$space-m);
        &.small {
            @include rem(margin-left,$space-s);
            @include rem(padding-right,$space-s);
        }
    }
    
    & +  .nav_item {
        margin-left:0;
        @include rem(margin-right,$space-m);
    }
}