/*------------------------------------*\
    #HEADER STYLES
\*------------------------------------*/

.header {
    position: relative;
}

.header__image {

    min-height: 4em;
    overflow: hidden;

    img {
        display:block;;
        width:100%;
        //todo wtf
        @include medium-only() {
            width: 150%;
            margin-left: -25%;
            margin-right: -25%;
        }
    }
}

.header__title {
    
    @include rem(padding-bottom, $space-m);

    @include large() {
        @include rem(padding-bottom, $space-xxxxl);
    }
    
    .header__image + & {
        position:absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
    @include small-down() {
        padding-bottom:0;
        .breadcrumb {
            margin-top:0;
            @include rem(margin-bottom, $space-xxs);
        }
        .header__image + & {
 
            position: relative;
            background-color: transparent;

            & .breadcrumb {
                position: relative;
                bottom: 100%;
                left: 0;
                right: 0;
            }
        }
    }
}