<div>
<pre style='margin-bottom:0;'>{% for item in item.data %}{{ item }}{% endfor %}</pre>
</div>
<p class='tiny u-uppercase u-bold pt-s mb-xxs'>example:</p>
<div class='card theme--light '>
    
    {% for item in item.data %}{{ item|safe }}{% endfor %}
</div>