/*------------------------------------*\
    #BREADCRUMBS
\*------------------------------------*/


.breadcrumb {
    @extend %list--inline;
    @include rem(margin-bottom,$space-s);
    font-weight: 100;
    letter-spacing: .03em;
    
    > li {
        margin-top:0;
        white-space: nowrap;           
        overflow: hidden;       
        text-overflow: ellipsis;
        display: none;

        a { @extend %remove-anchor-decoration;}
        
        &:last-child {
            display:inline-block;
        }

        @include medium {
            display: inline-block;
            *display: inline;
            *zoom: 1;
        }

        & a:after {
            @include rem(padding-left,$space-xxs);;
            @include rem(padding-right,$space-xxs);
            content: ' › ';
        }

        & .back:before,
        & .close:before {
            @include rem(padding-left,$space-xxs);;
            @include rem(padding-right,$space-xxs);
            content: ' ‹ ';
            color: #C7D900;
        }
        & .close:before {
            content: '\d7';
        }
        & .back:after,
        & .close:after {
            content: none;
        }

    }

    a {
        @extend %remove-dashed-border;
        @include rem(font-size,$font-size-xs);
    }
}