/**
 * Throws list items into a collection of inline-blocks
 */

.nav { /* ul, ol */
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
    font-size: medium;

    & > li {
        display: inline-block;
        vertical-align: middle;
    }
}

    /**
     * Extends `.nav {}`
     *
     * Adds spacing between a bunch of inline block nav children.
     *
     */
    .nav--links {
        & > li {
            @include rem(margin-right,$space-xs);
            line-height: 1;
            &:last-child {
                margin-right: 0;
            }
        }
    }


/**
 * Extends `.nav {}`
 *
 * Tabbing is achieved through a selected/deselected bottom border. Add/remove here.
 */

.tabs {
    @include rem(padding-bottom,$space-s);
}

    .tab {
        @include rem(padding-bottom,$space-xs);
        color: $light-grey;
        border-bottom: solid 2px #eee;
    }


    .tab--active {
        color: #222;
        border-bottom-color: #aaa;
    }
