
.i-arrow-r {
    background-image: url('png/arrow-r.png');
    background-repeat: no-repeat;
}



.i-caret-down {
    background-image: url('png/caret-down.png');
    background-repeat: no-repeat;
}



.i-caret-left {
    background-image: url('png/caret-left.png');
    background-repeat: no-repeat;
}



.i-caret-right {
    background-image: url('png/caret-right.png');
    background-repeat: no-repeat;
}



.i-caret-up {
    background-image: url('png/caret-up.png');
    background-repeat: no-repeat;
}



.i-circle-arrow {
    background-image: url('png/circle-arrow.png');
    background-repeat: no-repeat;
}



.i-dropdown-circle {
    background-image: url('png/dropdown-circle.png');
    background-repeat: no-repeat;
}



.i-dropdown {
    background-image: url('png/dropdown.png');
    background-repeat: no-repeat;
}



.i-forsyth-barr-logo {
    background-image: url('png/forsyth-barr-logo.png');
    background-repeat: no-repeat;
}



.i-menu {
    background-image: url('png/menu.png');
    background-repeat: no-repeat;
}



.i-search {
    background-image: url('png/search.png');
    background-repeat: no-repeat;
}


